.btn {
    border: none;
    background: $mainBlue;
    padding: 10px 20px;
    color: #d6d6d6;
    box-shadow: 0 1px 2px #b0b0b0;

    &:hover {
        background: #16a6cf;
    }

    &--centerd {
        margin: 0 auto;
    }
}