.large-hero {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	box-shadow: 0 0 5px;

	&__image {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		
		@mixin atMedium {
			display: none;
		}
	}
	
   &__video {
		position: relative;
		top: 50%;
		left: 50%;
	 	min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-ms-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(/assets/images/large-hero-img.png) no-repeat;
		background-size: cover;
		display: none;
		@mixin atMedium {
			display: block;
		}
	}
	
	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #ffffff;
		text-transform: uppercase;
		
		p {
			color: #dbdbdb;
			text-align: center;
			letter-spacing: 8px;
			line-height: 1.65;
			padding-left: 10px;
			padding-top: 10px;
			font-size: .66rem;
			
			@mixin atMedium {
				font-size: 1rem;
				letter-spacing: 15px;
			}
		}
		
		&__text {
			
			h1 {
				font-size: 1.5rem;
				margin: 0;
				letter-spacing: 5px;
				font-weight: 300;
				
				@mixin atMedium {
					font-size: 2rem;
					letter-spacing: 10px;
				}
			}
			.h1 {
				font-size: 2rem;
				letter-spacing: 6px;
				margin-top: 6px;
				font-weight: 100;
				
				@mixin atMedium {
					font-size: 2.5rem;
				}
			}
			
			.top {
				background: rgba(219, 34, 34, 0.88);
				padding-left: 10px;
				@mixin atMedium {
					background: #DB2222;
					padding-left: 20px;
					padding-right: 15px;
				}
			}
			
			
			.bottom {
				padding-left: 10px;
				background: rgba($mainBlack, .3);
				@mixin atMedium {
					background: rgba($mainBlack, .5);
					padding-left: 20px;
				}
				
			}
			
		}
	}
	
	
	&__more-logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		animation-name: more-logo;
		animation-delay: 2s;
    	animation-duration: .5s;
    	animation-iteration-count:infinite;
		
		i {
			font-size: 2rem;
			color: #676767;
			cursor: pointer;
			
			&:hover {
				color: #808080;
			}
		}
	}
}
