.large-hero {
	
	&__image {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		
		@mixin atMedium {
			display: none;
		}
	}
	
   &__video {
		position: fixed;
		top: 50%;
		left: 50%;
	 	min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-ms-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(/assets/images/large-hero-img.png) no-repeat;
		background-size: cover;
		display: none;
		@mixin atMedium {
			display: block;
		}
	}
	
	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #ffffff;
		text-transform: uppercase;
		
		p {
			color: #dbdbdb;
			text-align: center;
			letter-spacing: 15px;
			padding-left: 10px;
			padding-top: 10px;
		}
		
		&__text {
			
			h1 {
				font-size: 2rem;
				margin: 0;
				letter-spacing: 8px;
				font-weight: 300;
				
				@mixin atMedium {
					font-size: 2.5rem;
					letter-spacing: 10px;
				}
			}
			.h1 {
				font-size: 3.05rem;
				letter-spacing: 6px;
				margin-top: 6px;
				font-weight: 100;
				
				@mixin atMedium {
					font-size: 4rem;
				}
			}
			
			.media-left {
				background: rgba($mainBlue, .5);
				padding-left: 10px;
				padding-right: 5px;
				padding-bottom: 11px;
				
				@mixin atMedium {
					padding-left: 20px;
					padding-right: 15px;
				}
			}
			
			.media-body {
				background: rgba($mainBlack, .5);
				padding-left: 15px;
			}
		}
	}
	
	&__more-logo {
		position: absolute;
		bottom: 20px;
		left: 42%;
		background: rgba(0, 0, 0, 0.14);
		width: 80px;
		height: 80px;
		cursor: pointer;
		transition: background .3s;
		
		@mixin atSmall { left: 45%; }
		@mixin atMedium { left: 47%; }
		
		&:hover {
			background: rgba(0, 0, 0, 0.35);
			div { color: rgba(98, 95, 95, 0.42); }
		}
		
		div {
			font-size: 2.5rem;
			text-align: center;
			color: rgba(98, 95, 95, 0.32);
		}
	}
	
}