#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
	
	.loader {
	  display: block;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  width: 150px;
	  height: 150px;
	  margin: -75px 0 0 -75px;

	  border: 3px solid transparent;
	  border-top-color: #3498db;
	  border-radius: 50%;
	  z-index: 1500;
	  animation: spin 2s linear infinite;

		&:before {
			 content: "";
			 position: absolute;
			 top: 5px;
			 left: 5px;
			 right: 5px;
			 bottom: 5px;
			 border: 3px solid transparent;
			 border-top-color: #e74c3c;
			 border-radius: 50%;
			 animation: spin 3s linear infinite;
		}

		&:after {
			 content: "";
			 position: absolute;
			 top: 15px;
			 left: 15px;
			 right: 15px;
			 bottom: 15px;
			 border: 3px solid transparent;
			 border-top-color: #f9c922;
			 border-radius: 50%;
			 animation: spin 1.5s linear infinite;
		}
 	}
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: $mainBlack;
    z-index: 1000;
	
	&__left { left: 0; }
	&__right { right: 0; }
}

/* transition */

.loaded #loader-wrapper .loader-section.loader-section__left {
	transform: translateX(-100%);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.loader-section__right {
	transform: translateX(100%);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded .loader {
	opacity: 0;
	transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
	visibility: hidden;
	transform: translateY(-100%);
	transition: all 0.3s 1s ease-out;
}