.menu-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba($mainBlack, .95);
	opacity: 0;
	z-index: -100;
	transform: translateX(-100%);
	transition: all .3s ease-out;
	
	&__navs {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	
	a {
		text-transform: uppercase;
		display: block;
		color: #fff;
		text-decoration: none;
		font-size: 2rem;
		letter-spacing: 5px;
		transition: all .3s ease-out;
		
		@mixin atMedium { 
			font-size: 3rem;		
		}
		
		&:hover {
			color: #acacac;
		}
	}
	
	&__social-icons {
		position: absolute;
		top: 50%;
		right: 50px;
		transform: translateY(-50%);
		vertical-align: middle;
		
		@mixin atMedium {
			right: 100px;
		}
	}
	
	&__copy-right {
		position: absolute;
		bottom: 0;
		right: 100px;
		color: #939393;
		
		span {
			color: $mainBlue;
		}
	}
}

.menu-content--is-visible {
	opacity: 1;
	z-index: 50;
	transform: translateX(0);
}