.primary-nav {
    float: right;
    display: none;
    background: rgba($mainBlack, .99);
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    transform: translateX(100%);
    transition: all .3s ease-out;

    @mixin atMedium {
        background: #ffffff;
        display: block;
        position: relative;
        top: none;
        right: none;
        height: inherit;
        width: inherit;
        transform: translateX(0);
    }

    &--is-visible { 
        transform: translateX(0);
        display: block;
    }

    ul {
        list-style: none;
    }

    li {
        display: block;
        margin-bottom: 20px;

        @mixin atMedium {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 0;
        
        }
    }

    li:last-child {
         margin-right: 30px; 

         a {
              color: #ffffff; 
              &:hover { color: #ffffff; }
         }

         @mixin atMedium {
             display: inline-block;
         }
    }

    li a {
        text-decoration: none;
        color: #FFFFFF;
        transition: all .3s ease-out;

        &:hover {
            color: rgba($mainBlue, .8);
        }

        @mixin atMedium {
            color: $mainBlack;
        }
    }
}