.site-footer {
    box-shadow: 0 0 2px #000;
    background: #1B1B1B;
    width: 100%;
    height: 60px;
    padding: 10px 10px 0 20px;

    @mixin atSmall {
        height: 40px;
    }

    &--is-fixed {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    p {
        margin: 0 auto;
        color: #aaaaaa;
        font-size: .90rem;
        display: block;
        text-align: center;
        margin-bottom: 6px;
        padding-left: 15px;

        @mixin atSmall {
            padding-left: 0;
            margin-bottom: 0;
            float: left;
            display: inline-block;
        }
    }

    ul {
        margin: 0;
        font-style: none;
        text-align: center;
        @mixin atSmall {
            float: right;
            display: inline-block;
        }
    }

    li {
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: #E41717;
        font-size: 20px;
        margin-right: 20px;
    }

    span {
        color: #E41717;
    }
}