	/* WAYPOINT ANIMATIONS */
	
/* pull */

.pull-to-right {
	transform: translateX(0);
	display: block;
	opacity: 1;
	&:after {
		transform: translate(0);
		display: block;
		opacity: 1;
		animation-name: headline-after;
		animation-duration: .8s;
		animation-delay: 1.5s;
	}
}


.pull-to-left {
	transform: translateX(0);
	display: block;
	opacity: 1;
}

.pull-from-right {
	transform: translateX(-100%);
	opacity: 0;
	transition: all .5s .3s ease-out;
	&--is-on {
		transform: translateX(0);
		opacity: 1;
		
		&:after {
			transform: translate(0);
			display: block;
			opacity: 1;
			animation-name: headline-after;
			animation-duration: .8s;
			animation-delay: 1.5s;
		}
	}
}

.for-after {
	&:after {
		transform: translate(0);
		display: block;
		opacity: 1;
		animation-name: headline-after;
		animation-duration: .8s;
		animation-delay: 1.5s;
	}
}

.pull-from-left {
	transform: translateX(100%);
	opacity: 0;
	transition: all .5s .4s ease-out;
	&--is-on {
		transform: translateX(0);
		opacity: 1;
	}
}

/* reveal */

.reveal-item {
	opacity: 0;
	transform: scale(1.2);
	transition: all 0.5s 0.6s ease-out;
	
	&--is-visible {
		opacity: 1;
		transform: scale(1);
	}
}

.extend {
	opacity: 1;
}

li a.current-link {
	color: rgba($mainBlue, .8);
}