.wrapper {
    max-width: 1250px;
    padding-left: 10px;
    padding-right: 10px; 
    margin: 0 auto;
    overflow: hidden;

    &--narrow {
        @mixin atMedium {
            max-width: 800px;
            margin: 0 auto;
        }
    }
}